################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntityFrameWorkBasicPractice/.vs/EntityFrameWorkBasicPractice
/EntityFrameWorkBasicPractice/.vs/ProjectEvaluation
/EntityFrameWorkBasicPractice/EntityFrameWorkBasicPractice/bin/Debug/net7.0
/EntityFrameWorkBasicPractice/EntityFrameWorkBasicPractice/obj
/EntityFrameWorkBasicPractice/Common/bin/Debug/net7.0
/EntityFrameWorkBasicPractice/Common/obj
/EntityFrameWorkBasicPractice/Ropository/bin/Debug/net7.0
/EntityFrameWorkBasicPractice/Ropository/obj
/EntityFrameWorkBasicPractice/Service/bin/Debug/net7.0
/EntityFrameWorkBasicPractice/Service/obj
